apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      nodeSelector:
        role: backend
      serviceAccountName: default
      containers:
      - name: backend
        image: asia-southeast2-docker.pkg.dev/poc-3-pt-eikon/bjb-poc/backend@sha256:111e5e8bcac7500830f6bcd4ff0c20d71aa8b3d4b82b699ca79dee5484d5dc61
        imagePullPolicy: Always
        ports:
        - containerPort: 8005 
        
        # Inject Config & Secret
        envFrom:
        - secretRef:
            name: app-secrets
            
        # HEALTH CHECKS
        # readinessProbe:
        #   httpGet:
        #     path: /healthz
        #     port: 8005
        #   initialDelaySeconds: 5
        #   periodSeconds: 10
        # livenessProbe:
        #   httpGet:
        #     path: /healthz
        #     port: 8005
        #   initialDelaySeconds: 15
        #   periodSeconds: 20

        resources:
          requests:
            cpu: "200m" 
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
  - protocol: TCP
    port: 8005
    targetPort: 8005